*{
    margin:0px;
    padding:0px;
}

.mycont{
    padding-bottom:160px;
    position:relative;
    min-height: 1000px;

}

.hero{
    width:100%;
    min-height:450px;
    background: url('../img/img.jpg');

    background-size: cover;
    background-attachment:center;
    background-position: 50% 50%;
}

#mynav{
    padding:0px;
    margin:0px;
    border-bottom:1px solid #e7e7e7;
}

i{
    padding:30px;
    display: block !important;
    text-align: center !important;
    font-size:3.4em;
}

.home-head{
    padding:20px;
}



footer{
    background-color: #fcf8e3;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;

}

